.root {
     -fx-base: #29c39f; /* mint green */
}

.theme {
    -fx-background-color: derive(-fx-base, 50%);
    -fx-font-size: 14px;
}

.split-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: derive(-fx-base, 100%);
}

.text-dropshadow {
    -fx-background-radius: 4, 3;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(41,195,159,1.0) , 10, 0.0 , 0 , 1 );
    -fx-text-fill: derive(-fx-base, -60%);
    -fx-padding: 3 11 3 11;
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

